@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
    /* PRIMARY COLORS */
    --clr-soft-orange: hsl(34, 77%, 52%);
    --clr-soft-red: hsl(5, 85%, 63%);

    /* NEUTRAL COLORS */
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-blue: hsl(236, 13%, 42%);
    --clr-very-blue: hsl(240, 100%, 5%);

    /* TYPOGRAPHY */
    --ff-inter: 'Inter';
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;



    --fs-heading-xs: 18px;
    --fs-heading-s: 20px;
    --fs-heading-l: 32px;
    --fs-heading-xl: 40px;
    --fs-heading-xxl: 56px;

    --fs-body-s: 14px;
    --fs-body-l: 15px;


    --font-family: var(--ff-inter);
}

/* UTILITY CLASSES */
.color-orange {
    color: var(--clr-soft-orange);
}

.color-red {
    color: var(--clr-soft-red);
}

.color-off-white {
    color: var(--clr-off-white);
}

.color-grayish-blue {
    color: var(--clr-grayish-blue);
}

.color-dark-blue {
    color: var(--clr-dark-blue);
}

.color-very-blue {
    color: var(--clr-very-blue);
}

.bg-orange {
    background-color: var(--clr-soft-orange);
}

.bg-red {
    background-color: var(--clr-soft-red);
}

.bg-off-white {
    background-color: var(--clr-off-white);
}

.bg-grayish-blue {
    background-color: var(--clr-grayish-blue);
}

.bg-dark-blue {
    background-color: var(--clr-dark-blue);
}

.bg-very-blue {
    background-color: var(--clr-very-blue);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg,
canvas {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* STYLES */

body {
  font-family: var(--ff-inter);
}

.app__header {
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem .8rem;
} 

/* NAV STYLES */

.menu {
  position: fixed;
  inset: 0 0 0 30%;
  padding: min(30vh, 10rem) 0;
  display: none;
}

.menu .close-menu {
  position: absolute;
  top: 27px;
  right: 20px;
}

.nav-desktop {
  display: none;
}

.nav {
  list-style: none;
  flex-direction: column;
  gap: 5px;
  margin-left: 25px;
  font-weight: var(--fw-400);
}

.nav-item {
  margin: .5rem;
  font-size: var(--fs-body-s);
}

.show {
  display: inline-block;
}

/* ******* */
.app__main {
  flex-direction: column;
}

.app__principal {
  padding: 0 .8rem;
}

.app__principal-title {
  font-size: var(--fs-heading-xl);
  font-style: normal;
  font-weight: var(--fw-800);
  justify-content: center;
  line-height: 40px;
  margin: .8rem 0;
}

.app__principal-description {
  font-size: var(--fs-body-l);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 26px;
}

.btn {
  border: none;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-700);
  line-height: 24px;
  letter-spacing: 4.375px;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
  margin: .8rem 0;
}

.btn-menu {
  border: none;
}

.app__aside {
  margin: 3rem .8rem;
  padding: .8rem;
  flex-direction: column;
  gap: 20px;
}

.app__aside-title {
  font-size: var(--fs-heading-l);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 32px;
  margin: 1rem 0;
}

.app__aside-item {
  flex-direction: column;
  gap: 5px;
}

.app__aside-item-title {
  font-size: var(--fs-heading-s);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-800);
  line-height: 24px;
}

.app__aside-item-description {
  font-size: var(--fs-body-l);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 26px;
}

.app__top-new {
  flex-direction: column;
  padding: .8rem;
  gap: 30px;
  margin: 2rem 0;
}

.app__top-new-item :first-child {
  flex: .4;
}

.app__top-new-item :last-child {
  flex: 1;
}

.app__top-new-item {
  gap: 5px;
}

.app__top-new-item-info-container {
  flex-direction: column;
  gap: 5px;
}

.number {
  font-size: var(--fs-heading-l);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 32px;
}

.app__top-title {
  font-size: var(--fs-heading-xs);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-800);
  line-height: 24px;
}

.app__top-description {
  font-size: var(--fs-body-l);
  font-family: var(--ff-inter);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 26px;
}

@media (min-width: 768px) {
  .app__principal {
    justify-content: center;
    text-align: center;
  }

  .app__aside {
  }

  .app__top-new {
    flex-direction: row;
  }

  .app__top-new > *{
    flex: 1;
  }
}

@media (min-width: 980px) {

  .app__main {
    padding: .8rem;
    flex-direction: row;
    gap: 25px;
  }

  .app__principal{
    width: 65%;
    flex-direction: row;
    text-align: start;
    gap: 15px;
  }

  .app__principal-img {
    content: url("./assets/images/image-web-3-desktop.jpg");
    width: 100%;
    height: auto;
  }

  .app__principal-title {
    flex: .4;
  }

  .app__principal-info {
    flex: .6;
  }

  .app__header {
    padding: 2rem;
  }

  .btn-menu {
    display: none;
  }

  .nav-desktop {
    list-style: none;
    flex-direction: row;
    gap: 5px;
    margin-left: 25px;
    font-weight: var(--fw-400);
    display: inherit;
  }


  .app__aside {
    width: 30%;
    margin: 0 .5rem;
  }

  .app__top-new {
    margin: 6rem 0;
    width: 100%;
  }


}

