:root {
    /* PRIMARY COLORS */
    --clr-soft-orange: hsl(34, 77%, 52%);
    --clr-soft-red: hsl(5, 85%, 63%);

    /* NEUTRAL COLORS */
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-blue: hsl(236, 13%, 42%);
    --clr-very-blue: hsl(240, 100%, 5%);

    /* TYPOGRAPHY */
    --ff-inter: 
        url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
    --fw-400: 400;
    --fw-700: 700;
    --fw-800: 800;

    --font-family: var(--ff-inter);
}

/* UTILITY CLASSES */
.color-orange {
    color: var(--clr-soft-orange);
}

.color-red {
    color: var(--clr-soft-red);
}

.color-off-white {
    color: var(--clr-off-white);
}

.color-grayish-blue {
    color: var(--clr-grayish-blue);
}

.color-dark-blue {
    color: var(--clr-dark-blue);
}

.color-very-blue {
    color: var(--clr-very-blue);
}

.bg-orange {
    background-color: var(--clr-soft-orange);
}

.bg-red {
    background-color: var(--clr-soft-red);
}

.bg-off-white {
    background-color: var(--clr-off-white);
}

.bg-grayish-blue {
    background-color: var(--clr-grayish-blue);
}

.bg-dark-blue {
    background-color: var(--clr-dark-blue);
}

.bg-very-blue {
    background-color: var(--clr-very-blue);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
svg,
canvas {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* STYLES */
